/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/* me */
.fade img{
  height: 300px;
}

img.HeadImg {
    width: 152px;
    height: 91px;
}
.Enter{
  color: #3cc1a2;
    border-color: #3cc1a2;
}
.AllLinks{
  font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #3cc1a2;
}
a.p-2.AllLinks:hover {
    color: black;
}
.mySlides2 > img {
  height: 400px;
}
.green{
  background-color: #1dbcb8;
  font-weight: 500;
  font-size: larger;
  padding: 6px;
}
.green2{
  background-color: #1dbcb8;
    font-weight: 800;
    font-size: 16px;
    padding: 4px;
}
h4 > a {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

  color: black;
  /* font-family: 'Tajawal', sans-serif; */
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}
.number-center{
  text-align: center;
  font-size: 40px;
  font-family: 'Tajawal', sans-serif;
  font-weight: bolder;
  color: black;
}
/* .HeightPrg{
  position: relative;
  top: -23px;
  right: 82px;
} */
.divH{
  height: 70px;
}
.square{
  color: #1dbcb8;
  margin-left: 5px;
}
.cases{
  display: block;
    color: white;
    font-size: 40px;
    margin: auto;
    padding: 5px;
}
ul,a{
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
}
footer a{
  color: black;
}
.footerTitle{
  color: #1dbcb8;
  font-weight: 800;
}
.blog-footer1 {
  padding-top: 2.5rem;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.carousel-item > img{
  height: 400px;
    object-fit: fill;
}
.whiteAnchor{
  color: white;
}
@media only screen and (max-width: 767px) {

   p[class ="col-md-10 p-0 mb-0 align-self-center"]{
     margin-right: 18px;
     font-size: 12px;
  }
  img[src="https://img.icons8.com/cute-clipart/64/000000/calendar.png"]{
    height: fit-content;
    width: fit-content;
  }
}